# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform lock
.terraform.lock.hcl

# Variables
*.tfvars
*.tfvars.json

# CLI config
.terraformrc
terraform.rc

# Logs
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store

