# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform lock
.terraform.lock.hcl

# Ignore real tfvars
terraform.tfvars
terraform.tfvars.json

#Ignore backups
*.tfvars.backup

# CLI config
.terraformrc
terraform.rc

# Logs
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store

